<body>  
  <div class="profile">
    <h1>My Pets</h1>
 
<hr>
  
<section>
  <h2>My Cats</h2>
  <article>
    <div class="foxes">
      <H3>Fox Images</H3>
      <img width=300px src="{{foxes.image}}" alt="random fox images">
      <p>Random Images of Foxes courtesy of <a href="{{foxes.link}}">Random Fox API</a> </p>
      </div>

      <div class="picture">
        <H3>Ramsey</H3>
        <img height=158px width=240px src="assets/Images/ramsey.jpg" alt="Ramsey">
        <p>Short for Ramesses, and yes he believes he is an Egyptian Pharoah</p>
      </div>
      <div class="likes">
        <h3>&nbsp;</h3>
       <h4>Likes</h4>
       <ul>
       <li><a href="assets/Images/rcuddle.jpg" target="_blank">Cuddling</a></li>
       <li><a href="assets/Images/rtv.jpg" target="_blank">Watching TV</a></li>
       <li>Talking</li>
       <li>Food</li>
       </ul>
       <h4>Dislikes</h4>
       <ul>
       <li>Staying Inside</li>
       <li>Staying Outside</li>
       <li>Someone else getting attention</li>
       </ul>
    </div>
  </article>
  <article>
      <div class="picture">
        <H3>Havoc</H3>
        <img height="158" width="240" src="assets/Images/havoc.jpg" alt="Havoc">
        <p>The world is her playground, literally...</p>
      </div>
      <div class="likes">
        <h3>&nbsp;</h3>
       <h4>Likes</h4>
       <ul>
       <li><a href="assets/Images/hdogbed.jpg" target="_blank">Stealing the dogs bed</a></li>
       <li>Chewing on everything</li>
       <li>Food, lots and lots of food</li>
       <li>Stealing my coffee lid</li>
       <li><a href="assets/Images/hplaytail.jpg" target="_blank">Chasing the dog's tail</a></li>
       </ul>
       <h4>Dislikes</h4>
       <ul>
       <li>Being Held</li>
       <li>Being Outside</li>
       <li>Empty Food Dish</li>
       </ul>
    </div>
  </article>
</section>

<hr>

<section>
  <h2>My Dog</h2>
  <article>
      <div class="picture">
        <H3>Jake</H3>
        <img height=148px width=240px src="assets/Images/jake.JPG" alt="Jake">
        <p>Best Dog in the World!</p>
      </div>
      <div class="likes">
        <h3>&nbsp;</h3>
       <h4>Likes</h4>
       <ul>
       <li>Treats</li>
       <li><a href="assets/Images/jbegging.jpg" target="_blank">Begging</a></li>
       <li>Being Outside</li>
       <li><a href="assets/Images/jchase.jpg" target="_blank">Chasing the Horses</a></li>
       <li>Attention, from anyone!</li>
       </ul>
       <h4>Dislikes</h4>
       <ul>
       <li>Staying inside</li>
       <li>Being alone</li>
       <li>Someone else getting attention</li>
       </ul>
    </div>
  </article>
</section>

<hr>

<section>
  <h2>My Horses</h2>
  <article>
      <div class="picture">
        <H3>Denver</H3>
        <img height=228px width=240px src="assets/Images/denver.JPG" alt="Denver">
        <p>A dog stuck in a horses' body...</p>
      </div>
      <div class="likes">
        <h3>&nbsp;</h3>
       <h4>Likes</h4>
       <ul>
       <li><a href="assets/Images/dsnacks.jpg" target="_blank">Snacks</a></li>
       <li>Attention</li>
       <li>Playing with the rope</li>
       <li>Following me around</li>
       </ul>
       <h4>Dislikes</h4>
       <ul>
       <li><a href="assets/Images/ddog.JPG" target="_blank">The dog</a></li>
       <li>Sharing</li>
       <li>Someone else getting attention</li>
       </ul>
    </div>
  </article>
  <article>
      <div class="picture">
        <H3>Ringo</H3>
        <img height="158" width="240" src="assets/Images/ringo.JPG" alt="Ringo">
        <p>Nickname: Neighbaline (because: maybe he's born with it?)</p>
      </div>
      <div class="likes">
        <h3>&nbsp;</h3>
       <h4>Likes</h4>
       <ul>
       <li><a href="assets/Images/rsnacks.jpg" target="_blank">Treats</a>, especially Peaches</li>
       <li>Rolling</li>
       <li>Hiding in the trees</li>
       </ul>
       <h4>Dislikes</h4>
       <ul>
       <li><a href="assets/Images/rwork.jpg" target="_blank">Working</a></li>
       <li>Being Caught, unless there are treats</li>
       <li>Being crowded</li>
       </ul>
    </div>
  </article>
</section>
<hr>
</div>
</body>